@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#left-eye {
  animation: look 3s infinite alternate;
}

#right-eye {
  animation: look 3s infinite alternate;
}

@keyframes look {

  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}

#left-ear {
  transition: all .5s linear;
}

#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translateY(-10px);
}

#bear:hover #right-ear {
  transform: translateY(-10px);
}
